<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Editar Perfil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Editar Perfil</h1>
        </div>
        <form action="/edit_profile/{{ profile_name }}" method="post">
            <textarea name="profile_description" required>{{ profile_description }}</textarea>
            <input type="submit" value="Salvar">
        </form>
        <a href="/"><button>Voltar</button></a>
    </div>
</body>
</html>
